.item {
	display: flex;
	justify-content: space-between;
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
	background-color: #fff;
}

.item_text {
	padding-top: 10px;
}

.btn_wrap {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
}

.visible {
	visibility: visible;
	color: green;
}

.invisible {
	visibility: hidden;
}

.item_btn {
	padding: 10px 25px;
	border: none;
	background-color: rgb(247, 252, 0);
}
